<!DOCTYPE html>
<html>
<head>
	<title>My Application</title>
</head>
<body>
	<p>This page was rendered at <%= new Date() %></p>

	<button id="myButton">Do Ajax</button>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>